.container {
  width: 100%;
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
          "header header"
          "sidebar content";
  max-height: 100vh;
  &.sidebar-hidden{
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
          "header"
          "content";
  }
}


header{
  min-width: 100dvw;
  background-color: #fcfcfc;
  box-shadow: 0 0 4px rgba(0,0,0,0.25);
  grid-area: header;
  .header-wrapper {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    padding: 3%;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    float: left;
    width: 132px;
    margin: 0 60px 0 20px;
    font-family: $font-family-code;
    font-weight: 300;
    font-size: $font-size-xl;
    white-space: nowrap;

    > a {
      color: $brand-info;
    }
  }

  .nav {
    display: flex;
    flex-direction: row;
    gap:15px;
    > li {
      padding:7px;
      > a {
        font-size: $font-size-lg;

        &.active {
          color: $brand-primary;
          border-bottom: 2px solid $brand-primary;
          cursor: default;
        }
      }
    }
  }
  .links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px;
    > .github-wrapper,
    > .language-switch-wrapper {
      float: right;
    }
    .language-switch {
      .switch-item {
        cursor: pointer;
        &.active {
          cursor: default;
          color: $brand-primary;
        }
      }
    }
  }
  .mobileNav{
    display: flex;
  }
  @media (orientation: portrait) {

    .links{
      display: none;
    }
    .nav{
      display: none;
    }
    .mobileNav{
      display: flex;
    }
  }
}

footer {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 36px;

  > p {
    margin: 6px 0;
  }
}


.main{
  grid-area: content;
}

  .sidebar {
    grid-area: sidebar;
    border-right: rgba(0,0,0,0.25) solid;
    box-shadow: 10px 0 5px -2px rgba(0,0,0,0.25);
    .devider{
      background-color: $gray-lightest;
      height: 1px;
      width: 90%;
      justify-self: center;
    }
    .sidebarLink{
      padding: 17px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    &.hidden{
      display: none;
    }
    > li {
      padding:17px;

      > a {
        font-size: $font-size-lg;

        &.active {
          color: $brand-primary;
          cursor: default;
        }
      }
    }

    }


  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); // Semi-transparent black
    z-index: 4; // Below the sidebar
    display: none;
    pointer-events: none;
    transition: opacity 0.3s ease;

    &.active {
      display: block;
      pointer-events: all;
      opacity: 1;
    }
  }

@media (orientation: portrait) {

  .main{
    grid-template-columns:auto 250px ;
    grid-template-areas: "content sidebar";
  }


}



.page {
  min-height: 400px;

  > .sidebar {
   // background-color: #2e96ea;
    //position: fixed;
   // top: 60px;
   // bottom: 0;
   // width: 280px;
   // padding-top: 30px;
   // padding-left: 20px;
  //  overflow: auto;
    //z-index: 1;
    //background: #fff;

    .sidebar-cate {
      > h2 {
        margin-bottom: 20px;
        font-size: 24px;
      }

      > h4 {
        margin: 16px 0;
        font-size: 18px;
      }

      > .menu {
        > li {
          padding-left: 10px;
          line-height: 1.5;
          font-size: $font-size-lg;

          a.active {
            color: $brand-primary;
          }
        }
      }

      &:last-child {
        margin-bottom: 30px;
      }
    }

  }

  > .content {
    min-width: 1200px;
    padding-left: 300px;

    .page-title {
      padding-top: 30px;
      margin-bottom: 30px;
      margin: 0;
      font-size: 30px;
      color: $gray-dark;
    }

    .sub-title {
      height: 40px;
      line-height: 40px;
      margin: 20px 0;
      font-size: 24px;
      border-bottom: 1px solid $gray-lighter;
    }

    .paragraph-title {
      margin: 20px 0;
    }
  }
}

.page-guide, .page-api, .page-examples {
  min-width: 1200px;
  margin: 0 auto;
}

.page-examples {
  iframe {
    display: block;
    width: 100%;
    height: 600px;
    border: none;
    margin: 0;
  }
}

.page-api {
  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: $font-size-lg;

    td, th {
      padding: 6px 13px;
      border: 1px solid #ddd;
      border-top: 1px solid rgba(0,0,0,.06);
      border-left: 0 none;
      border-right: 0 none;
      display: table-cell;
      vertical-align: top;
    }

    tr {
      background-color: #fff;
      border-top: 1px solid #ccc;
    }

    thead  {
      th {
        text-align: left;
      }
    }

    td {
      color: $brand-second;
      font-family: $font-family-code;
      font-size: 90%;
    }

    td+td {
      color: #bf2a5c;
    }

    td+td+td {
      color: #666;
      font-size: 90%;
    }

    td+td+td+td {
      color: rgba(51,51,51,.9);
      font-size: 95%;
      min-width: 250px;
      line-height: 1.5;
      font-family: $font-family-base;
    }
  }
}
