@import '../styles/variables';
@import '../styles/mixins';

.page{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  .section{
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title{
      font-size: 40px;
      text-align: center;
      margin-bottom: 32px;
    }
    &.desc{
      padding-top: 60px;
      > p,
      > a {
        text-align: center;
      }
      .title {
        font-size: 64px;
        font-family: $font-family-logo;
        color: $brand-info;
      }

      .subtitle {
        margin: 20px 0;
        font-size: 24px;
        color: $gray-light;
      }
      .github-button {
        visibility: hidden;
      }

      iframe {
        display: block;
        margin: 16px auto 0;
        border: none;
      }

      .install-btn {
        width: 280px;
        margin: 0 auto;
      }
    }
    &.example{
      > .ex-code {
        width:95%;
        display: flex;
        flex-direction: column;
        max-width: 540px;
        .chart{
          width:100%;
          overflow-y:hidden;
          overflow-x: auto;
          margin-left: auto;
          margin-right: auto;
         // overflowBlock: "auto",
        }

      }
    }
    &.features{
      .feat{
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        > li {
          min-width: 250px;
          margin: 40px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          i {
            font-size: 48px;
          }
          strong {
            font-size: $font-size-xxl;
            font-weight: 700;
            display: block;
            margin: 8px auto;
          }

          .text {
            font-size: $font-size-lg;
            line-height: 1.5;
          }
        }
      }
    }
    &.who{
      .users-desc {
        text-align: center;
        padding-top: 20px;
        line-height: 20px;

        a {
          color: $brand-primary;
        }
      }
      .users {
        @include clearfix();
        width: 100%;
        margin: auto;
        .user {
          float: left;
          width: 20%;
          text-align: center;
          height: 90px;

          > a {
            position: relative;
            display: block;
            max-width: 150px;
            width: 80%;
            height: 100%;
            padding: 20px 0;
            margin: 0 auto;

            img {
              position: absolute;
              width: 100%;
              height: auto;
              left: 0;
              top: 50%;
              transform: translate(0, -50%);
            }
          }
        }
      }
    }
    &.like{
      padding-top: 42px;
      text-align: center;
      i {
        font-size: 48px;
      }
      .text {
        padding-top: 20px;
        font-size: $font-size-xxxl;
      }

      .btn {
        padding: 40px 0;
      }

      .getting-started-btn {
        text-transform: uppercase;
        letter-spacing: 1px;
        display: inline-block;
        padding: 12px 20px;
        border-radius: 25px;
      }
    }
  }
}

